$color-primary-0: #8393a9;	/* Основной Цвет */
$color-primary-1: #565c63;
$color-primary-2: #0a2547;
$color-primary-3: #c2d1e4;
$color-primary-4: #d0d9e4;

$color-secondary-a-0: #a281aa;	/* Вторичный Цвет A */
$color-secondary-a-1: #615664;
$color-secondary-a-2: #3b0a48;
$color-secondary-a-3: #ddc0e4;
$color-secondary-a-4: #e0cfe4;

$color-secondary-b-0: #d3ebb0;	/* Вторичный Цвет B */
$color-secondary-b-1: #828a76;
$color-secondary-b-2: #40630d;
$color-secondary-b-3: #e8f9d0;
$color-secondary-b-4: #eff9e1;
